let mapleader=" "

### Sets ###
set easymotion
set NERDTree
set multiple-cursors
set ideajoin
set sneak
set surround

set ignorecase
set incsearch
set scrolloff=8
" ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"

nmap f <Plug>(sneak-s)
nmap F <Plug>(sneak-S)
nmap <leader>/ <action>(ShowErrorDescription)

" system clipboard
set clipboard+=unnamed

" Don't use Ex mode, use Q for formatting.
map Q gq
set visualbell

" Insert new line without leaving leaving normal mode, otherwise <CR> has same functionality as j"
nmap <CR> o<Esc>

" Find more examples here: https://jb.gg/share-ideavimrc
### Window/Tab-movement###
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> J
nnoremap J :action PreviousTab<CR>
nnoremap K :action NextTab<Cr>


### Find / Go to ###
nnoremap <c-f> :action GotoFile<CR>
nnoremap <c-a> :action GotoAction<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gb :action Back<CR>
nnoremap gp :action GoToSuperMethod<CR>
nnoremap gf :action Forward<CR>
nnoremap <leader>f  :action FindUsages<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap <leader>l :action RecentLocations<CR>

### Open tool windows ###
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <c-w> :action ActivateRunToolWindow<Cr>
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
nnoremap <c-d> :action ActivateDatabaseToolWindow<CR>
nnoremap <leader>y :action HideAllWindows<CR>

nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>o :action ReformatCode<CR>
nnoremap <leader>u :action OptimizeImports<CR>

### Run/Debug ###
### Run ###
nnoremap ga :action ChooseRunConfiguration<CR>
nnoremap gr :action ContextRun<CR>
nnoremap gR :action Rerun<CR>
nnoremap gs :action Stop<CR>
### Debug ###
nnoremap <leader>a :action Debug<CR>
nnoremap gf :action ContextDebug<CR>
nnoremap g<leader> :action ChooseDebugConfiguration<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>


nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap <leader>j :action RecentFiles<CR>
nnoremap <leader>s :action Switcher<CR>


Multiple cursors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
map mc <A-n>
map mx <A-x>
map mp <A-p>

nnoremap <leader>g :action Generate<CR>

command Ntf NERDTreeFind
command BP ViewBreakpoints

nnoremap <leader>d :action QuickJavaDoc<CR>
nnoremap <c-q> :action Unsplit<CR>

noremap <leader>cap :action CopyAbsolutePath<CR>



nnoremap <leader>p :action ToggleDistractionFreeMode<CR>

NERDTree
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
